    <div id=''class='col-xs-7'style='border:1px none;background:url(images/theBigOh.png) no-repeat;background-size:100% 100%;height:100%;'>

      </div>
    
      <div id='buttonFalse'

           ng-click='mobileOff(mobile)' class='col-xs-3 col-xs-offset-1'style='border:1px none;position:relative;top:10%;cursor:pointer;'>
         <div id=''class='col-xs-3'style='padding:0;'>
            <span class='glyphicon glyphicon-chevron-{{chev}}'></span><br>
            <span class='glyphicon glyphicon-chevron-{{chev}}'></span><br>
            <span class='glyphicon glyphicon-chevron-{{chev}}'></span>
            
            
         </div>
          <div id=''class='col-xs-3'style='padding:0;'>
            <span class='glyphicon glyphicon-chevron-{{chev}}'></span><br>
            <span class='glyphicon glyphicon-chevron-{{chev}}'></span><br>
            <span class='glyphicon glyphicon-chevron-{{chev}}'></span>
            
            
         </div>
         <div id=''class='col-xs-3'style='padding:0;'>
            <span class='glyphicon glyphicon-chevron-{{chev}}'></span><br>
            <span class='glyphicon glyphicon-chevron-{{chev}}'></span><br>
            <span class='glyphicon glyphicon-chevron-{{chev}}'></span>
            
            
         </div>
          
      </div>
      


      <div ng-show='mobile == true'id='displayMenu'class='col-xs-10 col-xs-offset-2 cinz'style='border:5px solid black;height:auto;background:white;padding:0;font-size:3.0em;
      position:absolute;top:10%;z-index:3;
      '>
          <ul class='col-xs-12'style='list-style:none;'>
            <li class='col-xs-12'style='text-align:right;border-bottom:1px solid black;'><a style='color:black;'ng-click='mobileOff(mobile)'ng-href='#/main'>Blog </a></li>
            <li class='col-xs-12'style='text-align:right;border-bottom:1px solid black;'><a style='color:black;'ng-click='mobileOff(mobile)'ng-href='#/about'>About </a></li>
             <li class='col-xs-12'style='text-align:right;border-bottom:1px solid black;'><a style='color:black;'ng-click='mobileOff(mobile)'ng-href='#/projects'>Projects </a></li> 

          </ul>



      </div>